.flex {
  display: flex;
}

.flexColumn {
  composes: flex;
  flex-direction: column;
}

.flexWrapCentered {
  composes: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.appPadding {
  padding: 1em;
}
