
.navbar {
    position: sticky;
    top: 0;
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 10vh;
    color: var(--white);
    background-color: var(--black);
    z-index: 2;
    font-family: 'Monoton', sans-serif;
}

.brand {
    color: var(--red);
    font-size: 1.4em;
}